HF_TOKEN = os.getenv("HF_API_TOKEN", "YOUR_HF_TOKEN_HERE")
HF_API_TOKEN=YOUR_HF_TOKEN_HERE
MONGO_URI=mongodb+srv://username:password@cluster0.tczypxu.mongodb.net/mood_journal?retryWrites=true&w=majority
